# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/JogoTecnicas/v16/.suo
.vs/JogoTecnicas/v16/Browse.VC.db
.vs/ProjectSettings.json
.vs/slnx.sqlite
JogoTecnicas.vcxproj
JogoTecnicas.vcxproj.filters

 .vs/JogoTecnicas/v16/Browse.VC.db-shm
 .vs/JogoTecnicas/v16/Browse.VC.db-wal
 .vs/JogoTecnicas/v16/Browse.VC.opendb
 .vs/JogoTecnicas/v16/ipch/
 .vs/VSWorkspaceState.json
x64/
